.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: rgb(15, 15, 15);
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar > a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: #FC4F00;
  border-bottom: 3px solid #FC4F00;
}

#menu-icon {
  font-size: 3.6rem;
  color: #FC4F00;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

span {
  color: #FC4F00;
}

.logo span {
  color: #FC4F00;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
  font-size: 5rem;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px #FC4F00;
  cursor: pointer;
}

.home-content p {
  font-size: 1.8rem;
  font-weight: 500;
}

.socials-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #FC4F00;
  font-size: 2rem;
  border-radius: 50%;
  color: #FC4F00;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3 ease;
}

.socials-icons a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  background-color: #FC4F00;
  box-shadow: 0 0 25px #FC4F00;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: rgb(15, 15, 15);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #FC4F00;
  border: 2px solid #FC4F00;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  background: #FC4F00;
  color: white;
  box-shadow: 0 0 25px #FC4F00;
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Frontend Developer";
  color: #FC4F00;
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: rgb(15, 15, 15);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid rgb(15, 15, 15);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #FC4F00;
  }
}
@keyframes words {
  0%, 25% {
    content: "Web Developer";
  }
  26%, 50% {
    content: "Web Designer";
  }
  51%, 75% {
    content: "Photographer";
  }
  76%, 100% {
    content: "Blogger";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
.heading {
  text-align: center;
  font-size: 8rem;
}

.services {
  background-color: #161616;
}

.services h2 {
  margin-bottom: 8rem;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.service-container .services-box {
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #FC4F00;
  padding: 3rem 2rem 4rem;
  height: 550px;
  border-radius: 2rem;
  border: 3px solid transparent;
  cursor: pointer;
  transition: 0.5s ease;
}

.service-container .services-box:hover {
  transform: scale(1.02);
  background-color: white;
  color: black;
}

.services-box i {
  font-size: 7rem;
  color: black;
  margin-bottom: 1rem;
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.services-box .btn {
  background-color: white;
}

.services-box .btn:hover {
  color: #FC4F00;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #FC4F00;
}

::-webkit-scrollbar-track {
  background-color: rgb(15, 15, 15);
  width: 50px;
}

.projects {
  background: rgb(15, 15, 15);
}

.projects h2 {
  margin-bottom: 8rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  height: 550px;
  overflow: hidden;
  display: flex;
}

.projects-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}

.projects-box:hover img {
  transform: scale(1.1);
}

.projects-box .projects-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.projects-box .projects-info:hover {
  background: radial-gradient(rgba(200, 0, 0, 0.712), #FC4F00);
}

.projects-info h4 {
  font-size: 3rem;
  color: white;
  font-weight: 800;
}

.projects-info p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  font-weight: 600;
  color: white;
}

.projects-info a {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: white;
  border: 2px solid #FC4F00;
  border-radius: 50%;
}

.projects-info a i {
  font-size: 3rem;
  color: #FC4F00;
}

.skills {
  background-color: #161616;
  margin: 0 auto;
}

.skills h2 {
  margin-bottom: 2rem;
}

.skill-bars {
  margin-top: 8rem;
  padding: 25px 30px;
  background: rgb(15, 15, 15);
  border: 2px solid #FC4F00;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  color: white;
  font-weight: 500;
  font-size: 17px;
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: white;
  position: relative;
  border-radius: 10px;
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

.bar .progress-line.javascript span {
  width: 100%;
  background-color: gold;
}

.bar .progress-line.react span {
  width: 80%;
  background-color: purple;
}

.bar .progress-line.java span {
  width: 50%;
  background-color: green;
}

.bar .progress-line.html span {
  width: 100%;
  background-color: orangered;
}

.bar .progress-line.css span {
  width: 95%;
  background-color: blue;
}

.timeline-section {
  min-height: 100vh;
  padding: 100px 15px;
  background: rgb(15, 15, 15);
}

.timeline-section h2 {
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #FC4F00;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(1) {
  padding-right: calc(50% + 30px);
  text-align: center;
}

.timeline-item:nth-child(2) {
  padding-left: calc(50% + 30px);
  text-align: center;
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: #FC4F00;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: #FC4F00;
  padding: 30px;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.timeline-content p {
  color: white;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contact {
  background-color: #161616;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto 3rem;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: white;
  background: rgb(15, 15, 15);
  border-radius: 0.8rem;
  border: 2px solid #FC4F00;
  margin: 1rem 0;
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: #FC4F00;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer .social a {
  font-size: 25px;
  color: white;
  border: 2px solid white;
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: white;
  color: #FC4F00;
}

.footer > ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer > ul > li {
  display: inline-block;
  padding: 0 15px;
}

.footer > ul > li > a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.footer > ul > li > a:hover {
  border-bottom: 3px solid white;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .projects-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 5rem;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .services {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 955px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid #FC4F00;
    border-bottom: 3px solid #FC4F00;
    border-bottom-left-radius: 2em;
    padding: 1rem 3%;
    background: #161616;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  .navbar .active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .projects h2 {
    margin-bottom: 3rem;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(1) {
    padding: 0;
    text-align: left;
  }
  .timeline-item:nth-child(1),
  .timeline-item:nth-child(2) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}